body {
	background-color: gray;
	background-image: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2018/12/Budir-Church-Iceland.jpg);
}
.nav-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navs-btn {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.navs-btn > li {
	list-style-type: none;
	font-size: 20px;
	text-decoration: none;
}
.navs-btn > li > a {
	text-decoration: none;
}
.home-hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.connect-links {
	list-style-type: none;
	align-self: flex-end;
}
.home-subtext {
	align-self: flex-end;
	margin-top: 30%;
}
.home-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.get-started {
	border-radius: 15px;
	font-size: 30px;
	margin-top: 50%;
}
.get-started:hover {
	color: white;
	background-color: black;
}
