:root {
	font-size: 62.5%; /*10 px*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-image: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2018/12/Budir-Church-Iceland.jpg); */
	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Farchitecture-house-town-roof-building-old-red-tower-religion-landmark-church-chapel-historic-christian-place-of-worship-religious-spire-steeple-monastery-saint-christianity-worship-holy-historical-estate-old-church-rural-area-spanish-missions-in-california-452808.jpg&f=1&nofb=1&ipt=a6730266f5f997a4e02c933e03832f8a59bed78cd8b94aa3bb6acc7240885513&ipo=images);
	background-position: 100%;
	font-family: sans-serif;
}
header {
	font-size: 2rem;
}
.nav-logo {
	width: 50px;
	border-radius: 50%;
	cursor: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
}
footer {
	font-size: 1.5rem;
	padding: 0.8rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: white;
}
.nav-section {
	padding: 0.8rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navs-btn {
	list-style-type: none;
	display: flex;
	cursor: wait;
	/* justify-content: space-around; */
}

.navs-btn li {
	margin-right: 0.8rem;
}

/* .navs-btn li a {
	color: red;
} */

/* HOME HERO SECTION */
.home-hero-section {
	font-size: 2rem;
	padding: 0.8rem 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.connect-text {
	padding-top: 2rem;
}

.home-connect-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navs-btn > li:hover {
	color: white;
	text-decoration: overline;
	transition: 0.5s ease-in-out;
	border: 1px solid black;
	border-radius: 50%;
}

.home-connect-links .connect-links {
	display: flex;
	list-style-type: none;
	font-size: 1.2rem;
	flex-direction: column;
	cursor: pointer;
}
.connect-links > i:hover {
	color: black;
	transition: 0.5s ease-in-out;
}

.home-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.the-title {
	text-align: center;
	font-size: 4.5rem;
	margin-bottom: 1.5rem;
	color: ghostwhite;
}

.home-title .get-started {
	background-color: aquamarine;
	font-size: 3rem;
	border-radius: 10px;
	margin-bottom: -20rem;
	padding: 1rem;
	cursor: pointer;
}
.get-started:hover {
	color: white;
	background-color: black;
}
.humberger {
	display: none;
}
@media screen and (max-width: 768px) {
	.navs-btn {
		/* display: none; */
		flex-direction: column;
		align-items: center;
	}
	.connect-links > i {
		font-size: 5vh;
	}
	.humberger {
		display: contents;
	}
}
